body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
}

a {
	color:crimson;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */

.nav {
	width: 100%;
	background-color: crimson;
	box-shadow: 2px 2px white;
	padding: 20px;
	position: fixed;
	top:0px;
	left:0px;
	text-align: center;
}

.nav-item {
	background-color: black;
	color: white;
	border: solid 0.5mm white;
	border-radius: 2px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
}


.title {
	width: 100%;
	margin-top:95px;
}

.title img {
	width:100%;
	box-shadow: 2px 2px white;
}


.writings {
	text-align: left;
	font-size: 30px;
	font-family: 'Bowlby One SC', cursive;
	color: black;
	margin-bottom: 20px;
	margin-top: 20px;
	flex: 0 0 20%;
}

.research {
	display: flex;
	flex-wrap: wrap;
}

.research-item {
	flex: 0 0 20%;
	padding: 1px;
	transition: 1s;
	cursor: zoom-in;
	text-align: center;
	background-color: white;
}

.research-item img {
	width: 100%;
	border: 2px solid white;

}

.research-item span {
	color: white;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	box-shadow: 1px 1px white;

}






.essay {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;


}

.text {
	flex: 00 66.66%;
	padding: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 30px;


}

.text h1 {
	font-size:50px;
	font-family: 'Bowlby One SC', cursive;
	color: crimson;
	text-align: center;

}

.text p {
	margin-bottom: 10px;
	margin-top: 30px;
	color: lightgray;

}

.figure {
	flex: 0 0 33.33%;

}

.figure img {
	width: 100%;
	margin-top:40px;

}

.figure span {
	font-size: 18px;
	color: gray;
	font-family: 'Open Sans Condensed', sans-serif;
}






/*interactive classes*/

.hide {
	display: none;

}

.show {
	display: block;

}

.large {
	flex: 0 0 40%;
	transition: 1s;

}

.active {
	background-color: indianred;
}




