body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
}


/*Index Homepage*/

.index-intro {
	font-size: 18px;
	margin-bottom: 25vh;
	padding: 10px;

}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white;

}

.index-name {
	flex: 0 0 50%;

}

.index-layer {
	flex: 0 0 25%;

}

.index-tag{
	flex: 0 0 25%;

}


/*IP Address*/

.ip {
	background-color: cyan;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.ip-text {
	font-size: 15vw;
	text-align: center;
	color: blue;

}

/*Checkers*/

.checkers {
	display: flex;
	flex-wrap: wrap;

}

.checkers-white {
	width: 50vw;
	height:50vh;
	background-color: white;

}

.checkers-black {
	width: 50vw;
	height:50vh;
	background-color: black;

}

/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(cyan,white,cyan);

}

.cloud-circle {
	width: 25vw;
	height: 33.333vh;
	background-image: linear-gradient(blue,cyan);
	border-radius: 50%;

}


/*checkers type*/

.checkers-type {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;

}

.checkers-word {
	font-size: 30vh;
	color: magenta;
	border: 30px solid magenta;
	padding: 2vw;
	border-radius: 5vw;

}


/*Chip*/

.chip-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;

}

.chip {
	width: 50vw;
	height: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 10px solid gray;
	background-color: black;

}

.text {
	color: gray;
	font-size: 35vh;
	

}


/*surveilence*/

.square {
	display: flex;
	flex-wrap: wrap;
	background-color: red;
	align-items: center;
	justify-content: center;

}

.square-turn {
	background-color: red;
	width: 200vh;
	height: 100%;
	object-fit: contain;
	animation: rotate 1s linear infinite alternate;
	font-size: fixed 100px;
	color: red;
	transform: rotate(90deg);
    transform-origin:top left;
    text-align: center;
}

.surveillance {
	font-size: 10vw;
	text-align: center;
	justify-content: center;
	position: absolute center;
	color: yellow; 
	margin-top: 250px;
	mix-blend-mode: difference;
	object-fit: contain;
	font-family: 'arial black', sans-serif;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}


/*forward*/


.forward {
	background: radial-gradient(white, black);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.forward-symbol {
	font-size: 33vw;
	text-align: center;
	color: darkgray;
	object-fit: contain;
	animation: forward 1.5s linear infinite;
    transform-origin:50% 58.62%;
    text-align: center;
    margin-bottom: 70px;
	
}

.text {
	font-size: 19vw;
	text-align: center;
	position: absolute;
	color: white;
	mix-blend-mode: difference;
	object-fit: contain;
	font-family: 'Saira Stencil One', cursive;
}

@keyframes forward {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*Like Button*/

.like {
	background: rgb(162,63,251);
    background: radial-gradient(circle, rgba(162,63,251,1) 0%, rgba(252,70,107,1) 100%);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.like-button {
	font-size: 20vw;
	text-align: center;
	color: magenta;
	background-color: #240e37;
	padding: 4vw;
	border-radius: 5vw;
	width: 50vw;
	box-shadow:15px 15px 15px #a80284;

}

.like-button div {
	animation-name: grow-heart;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}


@keyframes grow-heart {
	from {
		-webkit-transform: scale(1,1);
	}
	to {
		-webkit-transform: scale(1.2,1.2);
	}
}


/*elevator*/

.behind {
  background: rgb(168,98,2);
  background: radial-gradient(circle, rgba(168,98,2,1) 0%, rgba(252,190,70,1) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}



.elevator {
  width: 100vw;
  height:0vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name:elevator;
  animation-duration:1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  background-color: gold;
}

@keyframes elevator {
  
  0% {
    height: :0vh;
  }
  
  100% {
    height:100vh;
  }

  .watching {
  	font-size: 200px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 50vh;
  	color: black;
	background-color: blue;
	padding: 4vw;
	border-radius: 5vw;
	width: 50vw;
	object-fit: contain;

  }


/*barcode*/

.numbers {
	background: rgb(162,63,251);
    background: radial-gradient(circle, rgba(162,63,251,1) 0%, rgba(252,70,107,1) 100%);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.numbers-lines {
	font-size: 20vw;
	text-align: center;
	color: magenta;
	background-color: #240e37;
	padding: 4vw;
	border-radius: 5vw;
	width: 50vw;
	box-shadow:15px 15px 15px #a80284;

}

.numbers-lines div {
	animation-name: grow-heart;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}


@keyframes grow-heart {
	from {
		-webkit-transform: scale(1,1);
	}
	to {
		-webkit-transform: scale(1.2,1.2);
	}





