body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 50px;
	color: pink; 
	
	background-color: #f453df;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */


.background {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(#f453df, #8e4fff);

}

.title {
	font-family: 'Fira Code', monospace; 
	color: #222222;
	text-align: center;
	font-size: 4vw;
	margin-top: 25vh;
	/*text-shadow: 1px 1px 5px black;*/
	font-weight: bold;
	text-decoration: none;

}

* { color:#222222; text-decoration: none; font-family: 'Fira Code', monospace;}

.bio{
	font-size: 1.5vw;
	margin:50px;
	color: #7a006a;
	margin-top: 50px;
	text-align: center;
	font-family: 'Fira Code', monospace; 
	padding-left: 10vw;
	padding-right: 10vw;
	margin-bottom: 15vh;
}


.click {
	font-family: 'Fira Code', monospace; 
	font-weight:bold;
	text-align: center;
	font-size: 4vw;
	color: white;
	text-decoration: none;
	cursor: pointer;
	display: table-cell;
    vertical-align: middle;
    
}


.click-on {
  position: relative;
  display: block;
  cursor: pointer;
  color: white;
  margin-left: 20vw;
  margin-top: 5vh;
}

.click-on:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.click-on:before {
  left: -2.5px;
}
.click-on:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.click-on:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.click-on:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}








.open-for-public {
  position: relative;
  display: block;
  cursor: pointer;
  color: #f453df;
  margin-left: 20vw;
  margin-top: 5vh;
  font-size: 2vw;
}

.open-for-public:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #f453df;
}

.open-for-public:before {
  left: -2.5px;
}
.open-for-public:after {
  right: 2.5px;
  background: #f453df;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.open-for-public:hover:before {
  background: #f453df;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.open-for-public:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


